---
import { TestimonialsSchema } from "@/types";
import TestimonialCard from "./TestimonialCard.astro";

const url = `${import.meta.env.API_URL}/testimonials`;
const res = await fetch(url);
const json = await res.json();
const data = TestimonialsSchema.parse(json);
---

<div class="my-10 grid grid-cols-1 lg:grid-cols-3 gap-5">
  {
    data.map((item) => (
      <TestimonialCard
        title={item.title.rendered}
        content={item.content.rendered}
      />
    ))
  }
</div>
